.item_container{
    background-color:rgba(255, 255, 255, 0.69);
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
    margin-inline: 50px;
    overflow: hidden;
    position:relative
    
}
.item_img{
    width: 12.5rem;
    height: 9.375rem;
    overflow: hidden;
    position: relative;
}
.item_img img{
    height: 77%;
}
.item_caption{
    margin-left: 3.125rem;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
.item_title{
    font-weight: 700;
    font-size: 1.875rem;
}
.item_bin,.item_share{
    position: absolute;
    font-size: 1.25rem;
    transition: all .5s;
}
.item_bin{
    right: 1%;
    top: 5%;
    color: red;
}
.item_share{
    right: 1%;
    bottom: 5%;
}
.item_bin:hover,.item_share:hover{
    transform:scale(1.4);
}

.item_controls_plmi{
    padding: 5px 10px;
    margin-inline:1.25rem;
    color: white;
    background-color: rgb(22, 198, 234);
    border-radius: 10px;
    transition: all .5s;
}
.item_controls_plmi:hover{
   scale: 1.05;
   
}
.item_controls span{
    font-size: 1.125rem;
    font-weight: 700;    
    color: black;
}
.svg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
}
@media screen and (max-width:1000px) {
    .item_container{
        margin-inline:0;
    }
}

@media screen and (max-width:768px) {
    .item_caption{
        width: 50%;
    }
}


@media screen and (max-width:460px){
    .item_caption{
        width:60%;
        margin:0;
        padding: 0;
    }
    .item_img{
        width: 150px;
        height: 130px;
        border-radius: 10px;
        overflow: hidden;
    }
    
.item_controls_plmi{
    padding-inline:0.625rem;
    margin-inline:0.3125rem;
}
.item_title{
    font-size: 1.25rem;
}
    
}