.single_pet_container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F6;
}
.row{
    box-shadow:  0 0 0.3125rem rgba(0, 0, 0, 0.836);
    background-color:white ;
}
.img_side{
    background-image: url(../../images/bane.png);
    background-color: var(--main_color);
}
.pet_img{   
    width:80%;
    height: 80%;
    border-radius: 0.625rem 0.625rem 0 0;
    overflow: hidden;
}
.pet_img img{
    object-fit: cover;
    object-position: 50% 50%;
}
.reacts{
    font-size: 1.375rem;
    padding: 0.3125rem;
    width: 80%;
    border-radius: 0 0 0.625rem 0.625rem;
    color:rgb(67, 177, 140);
    background-color: rgb(15, 1, 26);
 
}

.reacts span{
    font-size: 1.125rem;
    color:var(--indigo);
    font-weight: 700;
}
.reacts_love,.reacts_comment,.reacts_share{
    transition: all .5s;
    cursor: pointer;
}
.reacts_love:hover{
    color: red;
    transform: scale(1.3);
}
.reacts_comment:hover{
    transform: scale(1.3);
}
.reacts_share:hover{
    color:var(--indigo);
    transform: scale(1.3);
}


.caption{
    background-color: white;
    padding: 10px 0;
    text-align: center;
}
.header{
    text-align: center;
    padding: 0.625rem;
    border-bottom: #677279 0.0625rem solid;
    margin-bottom: 0.625rem;
}

.header h2{
    font-size: 3.125rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: var(--main_color);
    margin-bottom: 1.25rem;
}
.header p{
    color: #677279;
}
.contacts{
    font-size: 1.5625rem;
    color: #677279;
}
.url{
    flex-wrap: wrap;
}
.urls a{
    padding: 0.625rem 0.9375rem;
    background-color: transparent;
    color: var(--main_color);
    border: 0.0625rem solid var(--main_color);
    border-radius: 0.625rem;
    transition: all .5s;

}
.urls a:hover{
    background-color:var(--main_color);
    color:white;
    border: 0.0625rem solid transparent;
}
.breed_for{
    color: rgb(67, 177, 140);
    font-size: 1.25rem;
    font-weight: 900;
    font-family: var(--main_font);
}
@media screen and (max-width:300px) {
    
}