.navbar_class{
    background-color:#1F0137 !important;
}

.nav_logo{
    width: 9.375rem;
}
.search_icon{
    background-color: transparent;
    color: white;
    padding: 0.625rem;
    font-size: 1.5625rem;
}

.navbar_class a{
    color: white;
    text-decoration: none;
    margin-inline: 0.625rem;
    font-size: 1.25rem;
    padding: 5px;
    font-family: var(--main_font);
    font-weight: 700;
    border-bottom: transparent 3px solid;
    transition: all .3s;
}

.navbar_class a.active,
.navbar_class a:hover
{
    color:var(--pink);
    border-bottom: var(--pink) 3px solid;

}

.no_border{
    font-size: 16px !important;
    font-family: var(--secondary_font) !important;
}
.no_border:hover{
    border-bottom: transparent 3px solid !important; 
}

