@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');


:root{
  --main_color:#5D1A9F;
  --indigo:#8c41d8;
  --pink:#c978ff;
}

*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
  scroll-behavior: smooth;
  background-color: #edd0f7 !important;
  overflow-x: hidden;
}
.fab{
  transition: all .5s;
}
.fa-facebook:hover {
  color:  #1877F2;
  cursor: pointer;

}
.fa-youtube:hover{

  cursor: pointer;
  color: red;
}
.fa-tiktok:hover{

  cursor: pointer;
  color: black;
}
.fa-instagram:hover{

  cursor: pointer;
  color:#E4405F
}
.fa-twitter:hover{

  cursor: pointer;
  color:  #1DA1F2 ;
}


@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}