*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  background-color: #edd0f7 !important;
  overflow-x: hidden;
}



@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}