.counters{
    margin: 3.125rem 0;
    padding: 0.625rem;
}

.counter_item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius:0.3125rem;
    background-color: pink;
    border: 0.0625rem solid var(--main_color);
}
.counter_item p{
    font-size: 0.875rem;
    color: #677279;
}
.counter_item span{
    font-size: 1.5625rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.life_cat{
    font-size: 1.25rem !important;
}
.icons{
    font-size: 1.25rem;
    color: rgb(164, 113, 245);
    margin-top: 0.3125rem;
}
