.card{
    height: 37.5rem;
    margin-top: 3.125rem;
    padding-top: 3.125rem;
    position: relative;
}
.card_parent{
    background-image: url(../../images/feets.png);
    background-repeat:repeat-x;
    background-position:100% 100%;
    background-color: var(--main_color);
    border-radius: 1.875rem;
    padding-bottom: 1.5625rem;
    height: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
    position: relative;
}
.card_content{
    height:90%;
    width: 90%;
    border-radius: 1.875rem;
    padding: 0.625rem;
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    box-shadow: 0 -0.5rem 0.5rem rgba(0, 0, 0, 0.212);
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
}
.card_content:hover{
    box-shadow: 0 -0.5rem 0.5rem rgba(0, 0, 0, 0.7);
}
.card_img{
    height: 11.25rem;
    width: 11.25rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--indigo);
    transition: all .5s;
}

.card_img img{
    width: 100%;
    height: 100%;
}

.card_content:hover .card_img{
    scale: 1.1;
    transform: rotate(8deg);
}

.card_caption{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_caption h5{
    color: black;
    font-weight: 700;
    margin-top: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_button_one{
    padding:0.625rem;
    width: 80%;
    margin-bottom: 0.3125rem;
    border: 1px solid var(--main_color);
    transition: all .5s;
    border-radius:  0 1.25rem  0 1.25rem;
    background-color: rgb(250, 238, 223);
    color: var(--indigo);
}
.card_button_one:hover{
    background-color: var(--main_color);
    color: rgb(250, 238, 223);
}
.card_cart,
.card_eye,
.card_wish{
    background-color: white;
    color: var(--main_color);
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    position: absolute;
    transition: all .5s;
}
.card_cart{
    bottom: 3%;
    right: 6%;
}
.card_eye{
    top: 15%;
    right: 5%;
}
.card_wish{
    top: 2%;
    right: 5%;
}
.card_cart:hover,
.card_eye:hover,
.card_wish:hover{
    background-color: var(--main_color);
    color: white;
}

.life{

    color: gray;
}
.life span{
    color: var(--main_color);
}
.temperament{
    color: gray;
    font-size: 0.875rem;
}


@media screen and (min-width:768px) and (max-width:980px) {
    .card_img{
        height: 8.75rem;
        width: 8.75rem;
    }
    .card_eye{
        top: 15%;
        right: 2%;
    }
    .card_wish{
        top: 2%;
        right: 2%;
    }
}