.card{
    height: 25rem;
    margin-bottom: 50px;
    position: relative;
}
.card_content{
    height: 100%;
    width: 100%;
    border-radius: 0.625rem;
    background-color:#D3D3D3;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, .5);
}
.card_img{
    height: 60%;
    width: 100%;
    border-radius: 0.625rem;
}
.card_img img{
    width: 100%;
    height: 100%;
}
.card_caption{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_caption h5{
    font-family: var(--main_font);
    color: black;
    font-weight: 800;
    margin-top: 0.625rem;

}
.card_button_one{
    padding:0.625rem;
    width: 80%;
    margin-bottom: 0.3125rem;
    border: 1px solid var(--main_color);
    transition: all .5s;
    border-radius:  0 1.25rem  0 1.25rem;
    background-color: rgb(250, 238, 223);
    color: var(--indigo);
}
.card_button_one:hover{
    background-color: var(--main_color);
    color: rgb(250, 238, 223);
}
.card_cart,
.card_eye,
.card_wish{
    background-color: white;
    color: var(--main_color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    transition: all .5s;
}
.card_cart{
    bottom: 2%;
    right: 8%;
}
.card_eye{
    top: 15%;
    right: 5%;
}
.card_wish{
    top: 2%;
    right: 5%;
}
.card_cart:hover,
.card_eye:hover,
.card_wish:hover{
    background-color: var(--main_color);
    color: white;
}

.life{
    font-family: var(--main_font);
    color: gray;
}
.life span{
    color: var(--main_color);
}
.temperament{
    color: gray;
    font-size: 14px;
}