.body{
    background-image: url(../../images/karsten-winegeart-F1PDaeAyr1A-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.close_btn{
   position: fixed;
   top:0;
   right:30px;
}
.close_btn button{
    background-color: transparent;
    color: yellow;
    font-size: 18px;
    transition: all .5s;
}
.close_btn button:hover{
    color: rgb(67, 184, 238);
    transform: scale(1.1);
}
.order_btn{
    text-align: end;
}
.order_btn button{
    background-color: yellow;
    color: black;
    font-weight: 700;
    padding: 10px;
    border-radius: 0 100% 100% 0;
    transition: all .5s;
 }
 .order_btn button:hover{
    background-color: rgba(67, 184, 238, 0.507);
    color: yellow;
 }
