.wishlist{
    background-color: transparent;
    color: white;
    font-size: 1.5625rem;
    margin: 10px;
    padding: 5px;
    transition: all .5s;
}
.wishlist span{
    font-size: 0.75rem;
    background-color: red;
}

.wishlist:hover{
    color:red;
    transform: scale(1.1);
}